body {
  display: flex;
  flex-direction: column;
  min-height: 200vh;
  max-width: 100vw;
  background-color: #f8f9fa;
  overflow-x: hidden;
}

.content-container {
  text-align: center;
  background-color: #ffffff;
  height: 100%;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#header-placeholder {
  background: #fafafa;
}

#content-placeholder {
  padding: 6px;
  background: #000;
  height: 200vh;
}

#footer-placeholder {
  background: #fafafa;
  padding: 2px;
}
