<div class="content-container">
  <h1 id="title">Hello, World!</h1>

  <button class="btn btn-primary">
    Notifications
    <span class="badge bg-primary">12</span>
  </button>

  <p class="text-decoration-underline">
    Este é um exemplo simples utilizando HTML, CSS, JavaScript e Bootstrap.
  </p>
  <button id="button" class="btn btn-primary">Clique em mim</button>

  <div class="row">
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Title</h3>
          <p class="card-text">Text</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Title</h3>
          <p class="card-text">Text</p>
        </div>
      </div>
    </div>
  </div>
</div>
