<header id="cabecalho">
  <div id="barra-superior" class="container-fluid">
    <span class="telefone">+44 (0)1 923 287 687</span>
    <div class="icones-sociais">
      <a href="#"><i class="fab fa-linkedin-in"></i></a>
      <a href="#"><i class="fab fa-google-plus-g"></i></a>
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
  </div>

  <nav
    id="menu-principal"
    class="container navbar navbar-expand-md navbar-dark"
  >
    <a href="#" id="logo" class="navbar-brand"> HK Engineering</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#menu-navegacao"
      aria-controls="menu-navegacao"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="menu-navegacao">
      <ul class="lista-menu navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link" href="#">Vendas</a></li>
        <li class="nav-item">
          <a class="nav-link" href="#">Restauração</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Manutenção</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="#">Noticias</a></li>
        <li class="nav-item">
          <!--Evento de Mouse-->
          <a
            class="nav-link"
            href="#"
            data-bs-toggle="modal"
            data-bs-target="#contactModal"
            >Contato</a
          >
        </li>
      </ul>

      <div class="area-pesquisa">
        <input type="search" placeholder="Buscar..." />
        <button><i class="fas fa-search"></i></button>
      </div>
    </div>
  </nav>
</header>
