<header>
  <div class="">
    <nav
      class="navbar navbar-expand-sm navbar-dark px-3"
      style="background-color: black"
    >
      <div class="flex-column w-100">
        <a
          style="font-size: 64px"
          class="navbar-brand font-monospace fw-bold m-0 p-2"
          href="#"
          >HK</a
        >
        <span class="text-white p-0 m-0 font-monospace">Engineering</span>
      </div>

      <div class="collapse navbar-collapse w-50" id="collapsibleNavId">
        <ul
          class="navbar-nav border-start ms-2 border-white me-auto mt-2 mt-lg-0"
        >
          <li class="nav-item">
            <a class="nav-link active" href="#" aria-current="page">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Estoque</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="dropdownId"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              >Serviços</a
            >
            <div class="dropdown-menu" aria-labelledby="dropdownId">
              <a class="dropdown-item" href="#">Avaliação</a>
              <a class="dropdown-item" href="#">Manutenção</a>
              <a class="dropdown-item" href="#">Seguro</a>
            </div>
          </li>
        </ul>
        <form class="d-flex my-2 my-lg-0">
          <input
            class="form-control me-sm-2"
            type="text"
            placeholder="Buscar"
          />
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            <i class="bi bi-search"></i>
          </button>
        </form>
      </div>
    </nav>
  </div>
</header>
